<div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="data in port.portfolioData">
    <a href="#portfolioModal{{$index+1}}" class="portfolio-link" data-toggle="modal" ng-click="portfolioModal.openModal()">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <img ng-src="{{data.i}}" class="img-responsive" alt="">
    </a>
    <div class="portfolio-caption">
        <h4>{{ data.h4 }}</h4>
        <p class="text-muted">{{ data.p }}</p>
    </div>
</div>